	/*
  	interaction icon font: interaction
  	Creation date: 22/06/2016 15:38
  	*/

@font-face {
  font-family: "interaction";
  src: url("./interaction.eot");
  src: url("./interaction.eot?#iefix") format("embedded-opentype"),
       url("./interaction.woff") format("woff"),
       url("./interaction.ttf") format("truetype"),
       url("./interaction.svg#interaction") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "interaction";
    src: url("./interaction.svg#interaction") format("svg");
  }
}

[class^="interaction-"]:before, [class*=" interaction-"]:before,
[class^="interaction-"]:after, [class*=" interaction-"]:after {   
  font-family: interaction;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.interaction-archive:before { content: "\f100"; }
.interaction-archive-1:before { content: "\f101"; }
.interaction-archive-10:before { content: "\f102"; }
.interaction-archive-11:before { content: "\f103"; }
.interaction-archive-12:before { content: "\f104"; }
.interaction-archive-13:before { content: "\f105"; }
.interaction-archive-14:before { content: "\f106"; }
.interaction-archive-15:before { content: "\f107"; }
.interaction-archive-16:before { content: "\f108"; }
.interaction-archive-17:before { content: "\f109"; }
.interaction-archive-18:before { content: "\f10a"; }
.interaction-archive-19:before { content: "\f10b"; }
.interaction-archive-2:before { content: "\f10c"; }
.interaction-archive-3:before { content: "\f10d"; }
.interaction-archive-4:before { content: "\f10e"; }
.interaction-archive-5:before { content: "\f10f"; }
.interaction-archive-6:before { content: "\f110"; }
.interaction-archive-7:before { content: "\f111"; }
.interaction-archive-8:before { content: "\f112"; }
.interaction-archive-9:before { content: "\f113"; }
.interaction-bookmark:before { content: "\f114"; }
.interaction-bookmark-1:before { content: "\f115"; }
.interaction-bookmark-10:before { content: "\f116"; }
.interaction-bookmark-11:before { content: "\f117"; }
.interaction-bookmark-12:before { content: "\f118"; }
.interaction-bookmark-13:before { content: "\f119"; }
.interaction-bookmark-14:before { content: "\f11a"; }
.interaction-bookmark-15:before { content: "\f11b"; }
.interaction-bookmark-16:before { content: "\f11c"; }
.interaction-bookmark-17:before { content: "\f11d"; }
.interaction-bookmark-18:before { content: "\f11e"; }
.interaction-bookmark-19:before { content: "\f11f"; }
.interaction-bookmark-2:before { content: "\f120"; }
.interaction-bookmark-3:before { content: "\f121"; }
.interaction-bookmark-4:before { content: "\f122"; }
.interaction-bookmark-5:before { content: "\f123"; }
.interaction-bookmark-6:before { content: "\f124"; }
.interaction-bookmark-7:before { content: "\f125"; }
.interaction-bookmark-8:before { content: "\f126"; }
.interaction-bookmark-9:before { content: "\f127"; }
.interaction-browser:before { content: "\f128"; }
.interaction-browser-1:before { content: "\f129"; }
.interaction-browser-10:before { content: "\f12a"; }
.interaction-browser-11:before { content: "\f12b"; }
.interaction-browser-12:before { content: "\f12c"; }
.interaction-browser-13:before { content: "\f12d"; }
.interaction-browser-14:before { content: "\f12e"; }
.interaction-browser-15:before { content: "\f12f"; }
.interaction-browser-16:before { content: "\f130"; }
.interaction-browser-17:before { content: "\f131"; }
.interaction-browser-18:before { content: "\f132"; }
.interaction-browser-19:before { content: "\f133"; }
.interaction-browser-2:before { content: "\f134"; }
.interaction-browser-3:before { content: "\f135"; }
.interaction-browser-4:before { content: "\f136"; }
.interaction-browser-5:before { content: "\f137"; }
.interaction-browser-6:before { content: "\f138"; }
.interaction-browser-7:before { content: "\f139"; }
.interaction-browser-8:before { content: "\f13a"; }
.interaction-browser-9:before { content: "\f13b"; }
.interaction-calendar:before { content: "\f13c"; }
.interaction-calendar-1:before { content: "\f13d"; }
.interaction-calendar-10:before { content: "\f13e"; }
.interaction-calendar-11:before { content: "\f13f"; }
.interaction-calendar-12:before { content: "\f140"; }
.interaction-calendar-13:before { content: "\f141"; }
.interaction-calendar-14:before { content: "\f142"; }
.interaction-calendar-15:before { content: "\f143"; }
.interaction-calendar-16:before { content: "\f144"; }
.interaction-calendar-17:before { content: "\f145"; }
.interaction-calendar-18:before { content: "\f146"; }
.interaction-calendar-19:before { content: "\f147"; }
.interaction-calendar-2:before { content: "\f148"; }
.interaction-calendar-20:before { content: "\f149"; }
.interaction-calendar-21:before { content: "\f14a"; }
.interaction-calendar-22:before { content: "\f14b"; }
.interaction-calendar-23:before { content: "\f14c"; }
.interaction-calendar-24:before { content: "\f14d"; }
.interaction-calendar-25:before { content: "\f14e"; }
.interaction-calendar-26:before { content: "\f14f"; }
.interaction-calendar-27:before { content: "\f150"; }
.interaction-calendar-28:before { content: "\f151"; }
.interaction-calendar-29:before { content: "\f152"; }
.interaction-calendar-3:before { content: "\f153"; }
.interaction-calendar-30:before { content: "\f154"; }
.interaction-calendar-31:before { content: "\f155"; }
.interaction-calendar-32:before { content: "\f156"; }
.interaction-calendar-33:before { content: "\f157"; }
.interaction-calendar-34:before { content: "\f158"; }
.interaction-calendar-35:before { content: "\f159"; }
.interaction-calendar-36:before { content: "\f15a"; }
.interaction-calendar-37:before { content: "\f15b"; }
.interaction-calendar-38:before { content: "\f15c"; }
.interaction-calendar-39:before { content: "\f15d"; }
.interaction-calendar-4:before { content: "\f15e"; }
.interaction-calendar-5:before { content: "\f15f"; }
.interaction-calendar-6:before { content: "\f160"; }
.interaction-calendar-7:before { content: "\f161"; }
.interaction-calendar-8:before { content: "\f162"; }
.interaction-calendar-9:before { content: "\f163"; }
.interaction-cloud-computing:before { content: "\f164"; }
.interaction-cloud-computing-1:before { content: "\f165"; }
.interaction-cloud-computing-10:before { content: "\f166"; }
.interaction-cloud-computing-11:before { content: "\f167"; }
.interaction-cloud-computing-12:before { content: "\f168"; }
.interaction-cloud-computing-13:before { content: "\f169"; }
.interaction-cloud-computing-14:before { content: "\f16a"; }
.interaction-cloud-computing-15:before { content: "\f16b"; }
.interaction-cloud-computing-16:before { content: "\f16c"; }
.interaction-cloud-computing-17:before { content: "\f16d"; }
.interaction-cloud-computing-18:before { content: "\f16e"; }
.interaction-cloud-computing-19:before { content: "\f16f"; }
.interaction-cloud-computing-2:before { content: "\f170"; }
.interaction-cloud-computing-3:before { content: "\f171"; }
.interaction-cloud-computing-4:before { content: "\f172"; }
.interaction-cloud-computing-5:before { content: "\f173"; }
.interaction-cloud-computing-6:before { content: "\f174"; }
.interaction-cloud-computing-7:before { content: "\f175"; }
.interaction-cloud-computing-8:before { content: "\f176"; }
.interaction-cloud-computing-9:before { content: "\f177"; }
.interaction-database:before { content: "\f178"; }
.interaction-database-1:before { content: "\f179"; }
.interaction-database-10:before { content: "\f17a"; }
.interaction-database-11:before { content: "\f17b"; }
.interaction-database-12:before { content: "\f17c"; }
.interaction-database-13:before { content: "\f17d"; }
.interaction-database-14:before { content: "\f17e"; }
.interaction-database-15:before { content: "\f17f"; }
.interaction-database-16:before { content: "\f180"; }
.interaction-database-17:before { content: "\f181"; }
.interaction-database-18:before { content: "\f182"; }
.interaction-database-19:before { content: "\f183"; }
.interaction-database-2:before { content: "\f184"; }
.interaction-database-3:before { content: "\f185"; }
.interaction-database-4:before { content: "\f186"; }
.interaction-database-5:before { content: "\f187"; }
.interaction-database-6:before { content: "\f188"; }
.interaction-database-7:before { content: "\f189"; }
.interaction-database-8:before { content: "\f18a"; }
.interaction-database-9:before { content: "\f18b"; }
.interaction-envelope:before { content: "\f18c"; }
.interaction-envelope-1:before { content: "\f18d"; }
.interaction-envelope-2:before { content: "\f18e"; }
.interaction-file:before { content: "\f18f"; }
.interaction-file-1:before { content: "\f190"; }
.interaction-file-10:before { content: "\f191"; }
.interaction-file-11:before { content: "\f192"; }
.interaction-file-12:before { content: "\f193"; }
.interaction-file-13:before { content: "\f194"; }
.interaction-file-14:before { content: "\f195"; }
.interaction-file-15:before { content: "\f196"; }
.interaction-file-16:before { content: "\f197"; }
.interaction-file-17:before { content: "\f198"; }
.interaction-file-18:before { content: "\f199"; }
.interaction-file-19:before { content: "\f19a"; }
.interaction-file-2:before { content: "\f19b"; }
.interaction-file-3:before { content: "\f19c"; }
.interaction-file-4:before { content: "\f19d"; }
.interaction-file-5:before { content: "\f19e"; }
.interaction-file-6:before { content: "\f19f"; }
.interaction-file-7:before { content: "\f1a0"; }
.interaction-file-8:before { content: "\f1a1"; }
.interaction-file-9:before { content: "\f1a2"; }
.interaction-folder:before { content: "\f1a3"; }
.interaction-folder-1:before { content: "\f1a4"; }
.interaction-folder-10:before { content: "\f1a5"; }
.interaction-folder-11:before { content: "\f1a6"; }
.interaction-folder-12:before { content: "\f1a7"; }
.interaction-folder-13:before { content: "\f1a8"; }
.interaction-folder-14:before { content: "\f1a9"; }
.interaction-folder-15:before { content: "\f1aa"; }
.interaction-folder-16:before { content: "\f1ab"; }
.interaction-folder-17:before { content: "\f1ac"; }
.interaction-folder-18:before { content: "\f1ad"; }
.interaction-folder-19:before { content: "\f1ae"; }
.interaction-folder-2:before { content: "\f1af"; }
.interaction-folder-3:before { content: "\f1b0"; }
.interaction-folder-4:before { content: "\f1b1"; }
.interaction-folder-5:before { content: "\f1b2"; }
.interaction-folder-6:before { content: "\f1b3"; }
.interaction-folder-7:before { content: "\f1b4"; }
.interaction-folder-8:before { content: "\f1b5"; }
.interaction-folder-9:before { content: "\f1b6"; }
.interaction-image:before { content: "\f1b7"; }
.interaction-image-1:before { content: "\f1b8"; }
.interaction-image-10:before { content: "\f1b9"; }
.interaction-image-11:before { content: "\f1ba"; }
.interaction-image-12:before { content: "\f1bb"; }
.interaction-image-13:before { content: "\f1bc"; }
.interaction-image-14:before { content: "\f1bd"; }
.interaction-image-15:before { content: "\f1be"; }
.interaction-image-16:before { content: "\f1bf"; }
.interaction-image-17:before { content: "\f1c0"; }
.interaction-image-18:before { content: "\f1c1"; }
.interaction-image-19:before { content: "\f1c2"; }
.interaction-image-2:before { content: "\f1c3"; }
.interaction-image-3:before { content: "\f1c4"; }
.interaction-image-4:before { content: "\f1c5"; }
.interaction-image-5:before { content: "\f1c6"; }
.interaction-image-6:before { content: "\f1c7"; }
.interaction-image-7:before { content: "\f1c8"; }
.interaction-image-8:before { content: "\f1c9"; }
.interaction-image-9:before { content: "\f1ca"; }
.interaction-list:before { content: "\f1cb"; }
.interaction-list-1:before { content: "\f1cc"; }
.interaction-list-10:before { content: "\f1cd"; }
.interaction-list-11:before { content: "\f1ce"; }
.interaction-list-12:before { content: "\f1cf"; }
.interaction-list-13:before { content: "\f1d0"; }
.interaction-list-14:before { content: "\f1d1"; }
.interaction-list-15:before { content: "\f1d2"; }
.interaction-list-16:before { content: "\f1d3"; }
.interaction-list-17:before { content: "\f1d4"; }
.interaction-list-18:before { content: "\f1d5"; }
.interaction-list-19:before { content: "\f1d6"; }
.interaction-list-2:before { content: "\f1d7"; }
.interaction-list-3:before { content: "\f1d8"; }
.interaction-list-4:before { content: "\f1d9"; }
.interaction-list-5:before { content: "\f1da"; }
.interaction-list-6:before { content: "\f1db"; }
.interaction-list-7:before { content: "\f1dc"; }
.interaction-list-8:before { content: "\f1dd"; }
.interaction-list-9:before { content: "\f1de"; }
.interaction-mail:before { content: "\f1df"; }
.interaction-mail-1:before { content: "\f1e0"; }
.interaction-mail-10:before { content: "\f1e1"; }
.interaction-mail-11:before { content: "\f1e2"; }
.interaction-mail-12:before { content: "\f1e3"; }
.interaction-mail-13:before { content: "\f1e4"; }
.interaction-mail-14:before { content: "\f1e5"; }
.interaction-mail-15:before { content: "\f1e6"; }
.interaction-mail-16:before { content: "\f1e7"; }
.interaction-mail-2:before { content: "\f1e8"; }
.interaction-mail-3:before { content: "\f1e9"; }
.interaction-mail-4:before { content: "\f1ea"; }
.interaction-mail-5:before { content: "\f1eb"; }
.interaction-mail-6:before { content: "\f1ec"; }
.interaction-mail-7:before { content: "\f1ed"; }
.interaction-mail-8:before { content: "\f1ee"; }
.interaction-mail-9:before { content: "\f1ef"; }
.interaction-map:before { content: "\f1f0"; }
.interaction-map-1:before { content: "\f1f1"; }
.interaction-map-10:before { content: "\f1f2"; }
.interaction-map-11:before { content: "\f1f3"; }
.interaction-map-12:before { content: "\f1f4"; }
.interaction-map-13:before { content: "\f1f5"; }
.interaction-map-14:before { content: "\f1f6"; }
.interaction-map-15:before { content: "\f1f7"; }
.interaction-map-16:before { content: "\f1f8"; }
.interaction-map-17:before { content: "\f1f9"; }
.interaction-map-18:before { content: "\f1fa"; }
.interaction-map-19:before { content: "\f1fb"; }
.interaction-map-2:before { content: "\f1fc"; }
.interaction-map-3:before { content: "\f1fd"; }
.interaction-map-4:before { content: "\f1fe"; }
.interaction-map-5:before { content: "\f1ff"; }
.interaction-map-6:before { content: "\f200"; }
.interaction-map-7:before { content: "\f201"; }
.interaction-map-8:before { content: "\f202"; }
.interaction-map-9:before { content: "\f203"; }
.interaction-music-player:before { content: "\f204"; }
.interaction-music-player-1:before { content: "\f205"; }
.interaction-music-player-10:before { content: "\f206"; }
.interaction-music-player-11:before { content: "\f207"; }
.interaction-music-player-12:before { content: "\f208"; }
.interaction-music-player-13:before { content: "\f209"; }
.interaction-music-player-14:before { content: "\f20a"; }
.interaction-music-player-15:before { content: "\f20b"; }
.interaction-music-player-16:before { content: "\f20c"; }
.interaction-music-player-17:before { content: "\f20d"; }
.interaction-music-player-18:before { content: "\f20e"; }
.interaction-music-player-19:before { content: "\f20f"; }
.interaction-music-player-2:before { content: "\f210"; }
.interaction-music-player-3:before { content: "\f211"; }
.interaction-music-player-4:before { content: "\f212"; }
.interaction-music-player-5:before { content: "\f213"; }
.interaction-music-player-6:before { content: "\f214"; }
.interaction-music-player-7:before { content: "\f215"; }
.interaction-music-player-8:before { content: "\f216"; }
.interaction-music-player-9:before { content: "\f217"; }
.interaction-notebook:before { content: "\f218"; }
.interaction-notebook-1:before { content: "\f219"; }
.interaction-notebook-10:before { content: "\f21a"; }
.interaction-notebook-11:before { content: "\f21b"; }
.interaction-notebook-12:before { content: "\f21c"; }
.interaction-notebook-13:before { content: "\f21d"; }
.interaction-notebook-14:before { content: "\f21e"; }
.interaction-notebook-15:before { content: "\f21f"; }
.interaction-notebook-16:before { content: "\f220"; }
.interaction-notebook-17:before { content: "\f221"; }
.interaction-notebook-18:before { content: "\f222"; }
.interaction-notebook-19:before { content: "\f223"; }
.interaction-notebook-2:before { content: "\f224"; }
.interaction-notebook-3:before { content: "\f225"; }
.interaction-notebook-4:before { content: "\f226"; }
.interaction-notebook-5:before { content: "\f227"; }
.interaction-notebook-6:before { content: "\f228"; }
.interaction-notebook-7:before { content: "\f229"; }
.interaction-notebook-8:before { content: "\f22a"; }
.interaction-notebook-9:before { content: "\f22b"; }
.interaction-notepad:before { content: "\f22c"; }
.interaction-notepad-1:before { content: "\f22d"; }
.interaction-notepad-10:before { content: "\f22e"; }
.interaction-notepad-11:before { content: "\f22f"; }
.interaction-notepad-12:before { content: "\f230"; }
.interaction-notepad-13:before { content: "\f231"; }
.interaction-notepad-14:before { content: "\f232"; }
.interaction-notepad-15:before { content: "\f233"; }
.interaction-notepad-16:before { content: "\f234"; }
.interaction-notepad-17:before { content: "\f235"; }
.interaction-notepad-18:before { content: "\f236"; }
.interaction-notepad-19:before { content: "\f237"; }
.interaction-notepad-2:before { content: "\f238"; }
.interaction-notepad-3:before { content: "\f239"; }
.interaction-notepad-4:before { content: "\f23a"; }
.interaction-notepad-5:before { content: "\f23b"; }
.interaction-notepad-6:before { content: "\f23c"; }
.interaction-notepad-7:before { content: "\f23d"; }
.interaction-notepad-8:before { content: "\f23e"; }
.interaction-notepad-9:before { content: "\f23f"; }
.interaction-phone-call:before { content: "\f240"; }
.interaction-phone-call-1:before { content: "\f241"; }
.interaction-phone-call-10:before { content: "\f242"; }
.interaction-phone-call-11:before { content: "\f243"; }
.interaction-phone-call-12:before { content: "\f244"; }
.interaction-phone-call-13:before { content: "\f245"; }
.interaction-phone-call-14:before { content: "\f246"; }
.interaction-phone-call-15:before { content: "\f247"; }
.interaction-phone-call-16:before { content: "\f248"; }
.interaction-phone-call-17:before { content: "\f249"; }
.interaction-phone-call-18:before { content: "\f24a"; }
.interaction-phone-call-19:before { content: "\f24b"; }
.interaction-phone-call-2:before { content: "\f24c"; }
.interaction-phone-call-3:before { content: "\f24d"; }
.interaction-phone-call-4:before { content: "\f24e"; }
.interaction-phone-call-5:before { content: "\f24f"; }
.interaction-phone-call-6:before { content: "\f250"; }
.interaction-phone-call-7:before { content: "\f251"; }
.interaction-phone-call-8:before { content: "\f252"; }
.interaction-phone-call-9:before { content: "\f253"; }
.interaction-placeholder:before { content: "\f254"; }
.interaction-placeholder-1:before { content: "\f255"; }
.interaction-placeholder-10:before { content: "\f256"; }
.interaction-placeholder-11:before { content: "\f257"; }
.interaction-placeholder-12:before { content: "\f258"; }
.interaction-placeholder-13:before { content: "\f259"; }
.interaction-placeholder-14:before { content: "\f25a"; }
.interaction-placeholder-15:before { content: "\f25b"; }
.interaction-placeholder-16:before { content: "\f25c"; }
.interaction-placeholder-17:before { content: "\f25d"; }
.interaction-placeholder-18:before { content: "\f25e"; }
.interaction-placeholder-19:before { content: "\f25f"; }
.interaction-placeholder-2:before { content: "\f260"; }
.interaction-placeholder-3:before { content: "\f261"; }
.interaction-placeholder-4:before { content: "\f262"; }
.interaction-placeholder-5:before { content: "\f263"; }
.interaction-placeholder-6:before { content: "\f264"; }
.interaction-placeholder-7:before { content: "\f265"; }
.interaction-placeholder-8:before { content: "\f266"; }
.interaction-placeholder-9:before { content: "\f267"; }
.interaction-price-tag:before { content: "\f268"; }
.interaction-price-tag-1:before { content: "\f269"; }
.interaction-price-tag-10:before { content: "\f26a"; }
.interaction-price-tag-11:before { content: "\f26b"; }
.interaction-price-tag-12:before { content: "\f26c"; }
.interaction-price-tag-13:before { content: "\f26d"; }
.interaction-price-tag-14:before { content: "\f26e"; }
.interaction-price-tag-15:before { content: "\f26f"; }
.interaction-price-tag-16:before { content: "\f270"; }
.interaction-price-tag-17:before { content: "\f271"; }
.interaction-price-tag-18:before { content: "\f272"; }
.interaction-price-tag-19:before { content: "\f273"; }
.interaction-price-tag-2:before { content: "\f274"; }
.interaction-price-tag-3:before { content: "\f275"; }
.interaction-price-tag-4:before { content: "\f276"; }
.interaction-price-tag-5:before { content: "\f277"; }
.interaction-price-tag-6:before { content: "\f278"; }
.interaction-price-tag-7:before { content: "\f279"; }
.interaction-price-tag-8:before { content: "\f27a"; }
.interaction-price-tag-9:before { content: "\f27b"; }
.interaction-server:before { content: "\f27c"; }
.interaction-server-1:before { content: "\f27d"; }
.interaction-server-10:before { content: "\f27e"; }
.interaction-server-11:before { content: "\f27f"; }
.interaction-server-12:before { content: "\f280"; }
.interaction-server-13:before { content: "\f281"; }
.interaction-server-14:before { content: "\f282"; }
.interaction-server-15:before { content: "\f283"; }
.interaction-server-16:before { content: "\f284"; }
.interaction-server-17:before { content: "\f285"; }
.interaction-server-18:before { content: "\f286"; }
.interaction-server-19:before { content: "\f287"; }
.interaction-server-2:before { content: "\f288"; }
.interaction-server-3:before { content: "\f289"; }
.interaction-server-4:before { content: "\f28a"; }
.interaction-server-5:before { content: "\f28b"; }
.interaction-server-6:before { content: "\f28c"; }
.interaction-server-7:before { content: "\f28d"; }
.interaction-server-8:before { content: "\f28e"; }
.interaction-server-9:before { content: "\f28f"; }
.interaction-signs:before { content: "\f290"; }
.interaction-signs-1:before { content: "\f291"; }
.interaction-signs-2:before { content: "\f292"; }
.interaction-signs-3:before { content: "\f293"; }
.interaction-signs-4:before { content: "\f294"; }
.interaction-signs-5:before { content: "\f295"; }
.interaction-signs-6:before { content: "\f296"; }
.interaction-signs-7:before { content: "\f297"; }
.interaction-signs-8:before { content: "\f298"; }
.interaction-signs-9:before { content: "\f299"; }
.interaction-smartphone:before { content: "\f29a"; }
.interaction-smartphone-1:before { content: "\f29b"; }
.interaction-smartphone-10:before { content: "\f29c"; }
.interaction-smartphone-11:before { content: "\f29d"; }
.interaction-smartphone-12:before { content: "\f29e"; }
.interaction-smartphone-13:before { content: "\f29f"; }
.interaction-smartphone-14:before { content: "\f2a0"; }
.interaction-smartphone-15:before { content: "\f2a1"; }
.interaction-smartphone-16:before { content: "\f2a2"; }
.interaction-smartphone-17:before { content: "\f2a3"; }
.interaction-smartphone-18:before { content: "\f2a4"; }
.interaction-smartphone-19:before { content: "\f2a5"; }
.interaction-smartphone-2:before { content: "\f2a6"; }
.interaction-smartphone-3:before { content: "\f2a7"; }
.interaction-smartphone-4:before { content: "\f2a8"; }
.interaction-smartphone-5:before { content: "\f2a9"; }
.interaction-smartphone-6:before { content: "\f2aa"; }
.interaction-smartphone-7:before { content: "\f2ab"; }
.interaction-smartphone-8:before { content: "\f2ac"; }
.interaction-smartphone-9:before { content: "\f2ad"; }
.interaction-speech-bubble:before { content: "\f2ae"; }
.interaction-speech-bubble-1:before { content: "\f2af"; }
.interaction-speech-bubble-10:before { content: "\f2b0"; }
.interaction-speech-bubble-11:before { content: "\f2b1"; }
.interaction-speech-bubble-12:before { content: "\f2b2"; }
.interaction-speech-bubble-13:before { content: "\f2b3"; }
.interaction-speech-bubble-14:before { content: "\f2b4"; }
.interaction-speech-bubble-15:before { content: "\f2b5"; }
.interaction-speech-bubble-16:before { content: "\f2b6"; }
.interaction-speech-bubble-17:before { content: "\f2b7"; }
.interaction-speech-bubble-18:before { content: "\f2b8"; }
.interaction-speech-bubble-19:before { content: "\f2b9"; }
.interaction-speech-bubble-2:before { content: "\f2ba"; }
.interaction-speech-bubble-3:before { content: "\f2bb"; }
.interaction-speech-bubble-4:before { content: "\f2bc"; }
.interaction-speech-bubble-5:before { content: "\f2bd"; }
.interaction-speech-bubble-6:before { content: "\f2be"; }
.interaction-speech-bubble-7:before { content: "\f2bf"; }
.interaction-speech-bubble-8:before { content: "\f2c0"; }
.interaction-speech-bubble-9:before { content: "\f2c1"; }
.interaction-stopwatch:before { content: "\f2c2"; }
.interaction-stopwatch-1:before { content: "\f2c3"; }
.interaction-stopwatch-10:before { content: "\f2c4"; }
.interaction-stopwatch-11:before { content: "\f2c5"; }
.interaction-stopwatch-12:before { content: "\f2c6"; }
.interaction-stopwatch-13:before { content: "\f2c7"; }
.interaction-stopwatch-14:before { content: "\f2c8"; }
.interaction-stopwatch-15:before { content: "\f2c9"; }
.interaction-stopwatch-16:before { content: "\f2ca"; }
.interaction-stopwatch-17:before { content: "\f2cb"; }
.interaction-stopwatch-18:before { content: "\f2cc"; }
.interaction-stopwatch-19:before { content: "\f2cd"; }
.interaction-stopwatch-2:before { content: "\f2ce"; }
.interaction-stopwatch-20:before { content: "\f2cf"; }
.interaction-stopwatch-21:before { content: "\f2d0"; }
.interaction-stopwatch-22:before { content: "\f2d1"; }
.interaction-stopwatch-23:before { content: "\f2d2"; }
.interaction-stopwatch-24:before { content: "\f2d3"; }
.interaction-stopwatch-25:before { content: "\f2d4"; }
.interaction-stopwatch-26:before { content: "\f2d5"; }
.interaction-stopwatch-27:before { content: "\f2d6"; }
.interaction-stopwatch-28:before { content: "\f2d7"; }
.interaction-stopwatch-29:before { content: "\f2d8"; }
.interaction-stopwatch-3:before { content: "\f2d9"; }
.interaction-stopwatch-4:before { content: "\f2da"; }
.interaction-stopwatch-5:before { content: "\f2db"; }
.interaction-stopwatch-6:before { content: "\f2dc"; }
.interaction-stopwatch-7:before { content: "\f2dd"; }
.interaction-stopwatch-8:before { content: "\f2de"; }
.interaction-stopwatch-9:before { content: "\f2df"; }
.interaction-user:before { content: "\f2e0"; }
.interaction-user-1:before { content: "\f2e1"; }
.interaction-user-10:before { content: "\f2e2"; }
.interaction-user-11:before { content: "\f2e3"; }
.interaction-user-12:before { content: "\f2e4"; }
.interaction-user-13:before { content: "\f2e5"; }
.interaction-user-14:before { content: "\f2e6"; }
.interaction-user-15:before { content: "\f2e7"; }
.interaction-user-16:before { content: "\f2e8"; }
.interaction-user-17:before { content: "\f2e9"; }
.interaction-user-18:before { content: "\f2ea"; }
.interaction-user-19:before { content: "\f2eb"; }
.interaction-user-2:before { content: "\f2ec"; }
.interaction-user-20:before { content: "\f2ed"; }
.interaction-user-21:before { content: "\f2ee"; }
.interaction-user-22:before { content: "\f2ef"; }
.interaction-user-23:before { content: "\f2f0"; }
.interaction-user-24:before { content: "\f2f1"; }
.interaction-user-25:before { content: "\f2f2"; }
.interaction-user-26:before { content: "\f2f3"; }
.interaction-user-27:before { content: "\f2f4"; }
.interaction-user-28:before { content: "\f2f5"; }
.interaction-user-29:before { content: "\f2f6"; }
.interaction-user-3:before { content: "\f2f7"; }
.interaction-user-30:before { content: "\f2f8"; }
.interaction-user-31:before { content: "\f2f9"; }
.interaction-user-32:before { content: "\f2fa"; }
.interaction-user-33:before { content: "\f2fb"; }
.interaction-user-34:before { content: "\f2fc"; }
.interaction-user-35:before { content: "\f2fd"; }
.interaction-user-36:before { content: "\f2fe"; }
.interaction-user-37:before { content: "\f2ff"; }
.interaction-user-38:before { content: "\f300"; }
.interaction-user-39:before { content: "\f301"; }
.interaction-user-4:before { content: "\f302"; }
.interaction-user-40:before { content: "\f303"; }
.interaction-user-41:before { content: "\f304"; }
.interaction-user-42:before { content: "\f305"; }
.interaction-user-43:before { content: "\f306"; }
.interaction-user-44:before { content: "\f307"; }
.interaction-user-45:before { content: "\f308"; }
.interaction-user-46:before { content: "\f309"; }
.interaction-user-47:before { content: "\f30a"; }
.interaction-user-48:before { content: "\f30b"; }
.interaction-user-49:before { content: "\f30c"; }
.interaction-user-5:before { content: "\f30d"; }
.interaction-user-50:before { content: "\f30e"; }
.interaction-user-51:before { content: "\f30f"; }
.interaction-user-52:before { content: "\f310"; }
.interaction-user-53:before { content: "\f311"; }
.interaction-user-54:before { content: "\f312"; }
.interaction-user-55:before { content: "\f313"; }
.interaction-user-56:before { content: "\f314"; }
.interaction-user-57:before { content: "\f315"; }
.interaction-user-58:before { content: "\f316"; }
.interaction-user-59:before { content: "\f317"; }
.interaction-user-6:before { content: "\f318"; }
.interaction-user-7:before { content: "\f319"; }
.interaction-user-8:before { content: "\f31a"; }
.interaction-user-9:before { content: "\f31b"; }
.interaction-video-player:before { content: "\f31c"; }
.interaction-video-player-1:before { content: "\f31d"; }
.interaction-video-player-10:before { content: "\f31e"; }
.interaction-video-player-11:before { content: "\f31f"; }
.interaction-video-player-12:before { content: "\f320"; }
.interaction-video-player-13:before { content: "\f321"; }
.interaction-video-player-14:before { content: "\f322"; }
.interaction-video-player-15:before { content: "\f323"; }
.interaction-video-player-16:before { content: "\f324"; }
.interaction-video-player-17:before { content: "\f325"; }
.interaction-video-player-18:before { content: "\f326"; }
.interaction-video-player-19:before { content: "\f327"; }
.interaction-video-player-2:before { content: "\f328"; }
.interaction-video-player-3:before { content: "\f329"; }
.interaction-video-player-4:before { content: "\f32a"; }
.interaction-video-player-5:before { content: "\f32b"; }
.interaction-video-player-6:before { content: "\f32c"; }
.interaction-video-player-7:before { content: "\f32d"; }
.interaction-video-player-8:before { content: "\f32e"; }
.interaction-video-player-9:before { content: "\f32f"; }